################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AutoIntell-python/FileContentIndex
/.vs/slnx.sqlite
